{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

        <p>Hello Everyone, <b>KS Praveen</b> here,A welcome and an assurance on the way.</p>  <p>Welcoming you to my blog page and assuring you that I will keep it interesting.</p>
        <p>I'm a student of Vidyavardhaka college of Engineering persuing my BE in Artificial Intelligence and Machine Learning. I could describe myself as a writer, orator, stage artist,  Hodophile and a  low-key tech enthusiast. I am deeply passionate about leadership and a very ambitious person.</p>
        <p>It's a new beginning and this journey will be precious! I hope you stay with me till the end of this journey.</p>
        <p>Thank you in advance,</p>
        <p>K S Praveen</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}